<div class="row">
  <div class="col text-center">
    <img src="../assets/img/{{intentos}}.png" class="ahor">
    <h3>Fallas <small>{{intentos}}/9</small></h3>
  </div>
</div> 

<div *ngIf="gano" class="row">
  <div class="col text-center">
    <h1>Felicidades, ganaste la partida!!!</h1>
  </div>
</div>
<div *ngIf="perdio" class="row">
  <div class="col text-center">
    <h1>Intentalo de nuevo</h1>
    <h4>La palabra era: {{palabra}}</h4>
  </div>
</div>

<div class="row">
  <div class="col text-center">
    <h1>{{palabraOculta}}</h1>
  </div>
</div>

<div class="row" *ngIf="!gano && !perdio ">
  <div class="col text-center">
    <button *ngFor="let letra of letras" (click)="comprobar(letra)" class="btn btn-primary m-2">
      {{letra}}
    </button>
  </div>
</div>

<div class="row" *ngIf="gano || perdio">
  <div class="col text-center">
    <button (click)="reiniciar()" class="btn btn-danger m-2">
      Jugar de nuevo
    </button>
  </div>
</div>
